/* =================================
  Base Element Styles
==================================== */

* {
  box-sizing: border-box;
}

body {
  color: #4f4f4f;
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

h2,
h3 {
  font-family: 'Bungee', Helvetica, sans-serif;
  color: #762F35;
  margin: 0;
}

p {
  font-size: 1.125em;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* =================================
  Base Layout
==================================== */



/* =================================
  Heading
==================================== */

header {
  padding-top: 1px;
  text-align: center;
  border-bottom: 1px solid black;
  background: #CC333F;
}

.name h1 {
  font-family: 'Bungee Shade';
  letter-spacing: 4px;
  margin: 0;
}

.name a {
	color: #000;
	display: block;
}

/* =================================
  Navigation
==================================== */

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  font-size: 1.25em;
  display: inline-block;
  padding: 12px 12px;
}

nav a {
	color: #fff;
}

/* =================================
  Main Content
==================================== */


.operating-days {
}

/* =================================
  Footer
==================================== */

footer {
  background: #ddd;
  padding: 1em 0;
}

.copyright {
  font-size: 0.75em;
}

.icons img {
	display: inline-block;
}

.fb-icon,
.ig-icon,
.yelp-icon {
  max-width: 64px;
  max-width: 64px;
  margin: 0 8px;
  padding: 4px;
}

/* ==================== MENU ==================== */

.menu-body {
  max-width: 680px;
  margin: 0 auto;
  padding: 8px;
  display: block;
  color: rgb(92, 92, 92);
}

.menu-section {
  margin-bottom: 80px;
  padding-top: 1px;
}

.menu-section-title {
  display: block;
  font-weight: normal;
  margin: 20px 0;
  text-align: center;
}

.menu-item {
  margin: 35px 0;
  font-size: 18px;
}

.menu-item-name {
  font-family: Helvetica;
  font-weight: bold;
  border-bottom: 2px dotted rgb(213, 213, 213);
}

.menu-item-description {
  font-style: italic;
  font-size: .9em;
  line-height: 1.5em;
}

.menu-item-price {
  float: right;
  font-family: Arial;
  font-weight: bold;
  margin-top: -22px;
}

/* =================================
  Media Queries
==================================== */

@media (min-width: 769px) {
	.container {
		width: 70%;
		max-width: 1000px;
		margin: 0 auto;
	}

	.wrap {
		height: calc(100vh - 207px);
	}


}
