* {
	box-sizing: border-box;
}

body {
	font-size: 16px;
	/*font-family: 'Montserrat', Helvetica, sans-serif;*/
	font-family: 'Montserrat', Helvetica, sans-serif;
	color: #444;
}

h2 {
	color: #7f2020;
	text-align: center;
	padding: 0;
	font-weight: normal;
	font-family: 'Damion';
	font-size: 2em;
}

p {
	line-height: 1.5;
}

ul {
	padding: 0;
}

.container {
}

a {
	text-decoration: none;
	/*color: 	#0e2f44;*/
	color: #FF4040;
}

img {
	max-width: 100%;
}

.small-icon {
	width: 16px;
	margin-right: 16px;
}

/*====================================
NAVIGATION
====================================*/

header {
	width: 90%;
	margin: 0 auto;
}

.container {
	width: 95%;
	margin: 0 auto;
}

.name {
	font-family: 'Damion';
	color:  #7f2020;
	font-size: 2.5em;
	letter-spacing: 1px;
	padding: 1px 0;
	margin: 0;
}

.name,
.main-nav {
	text-align: center;
}

.name a {
	color: #7f2020;
}

.name::first-letter {
	font-size: 1.4em;
}

.main-nav {
	padding: 0;
	list-style: none;

}

.main-nav li {
	padding: 10px;
	font-size: 1.25em;
}

/*====================================
MAIN
====================================*/




/*====================================
FOOTER
====================================*/

footer {
	background: #aaa;
	color: #fff;
	padding: 20px 0;
}

.social {
	display: flex;
	justify-content: center;
}

.social img {
	width: 48px;
	margin: 0 10px;
}

.copyright {
	font-size: 0.8em;
	text-align: center;
}

/*====================================
MENU
====================================*/

.menu-item {
  border-bottom: 1px solid #444;
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  align-content: flex-start;
}

.item-title {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: normal;
  font-size: 1em;
  width: 75%;
  text-align: left;
}

.item-price {
  font-weight: bold;
  width: 25%;
  text-align: right;
}

.item-description {
  width: 100%;
  flex-grow: 1;
  /*line-height: 1.5em;*/
}

.item-meats {
  width: 100%;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /*height: 20vh;*/
  text-align: center;
  /*align-content: flex-start;*/
}

.double-col li {
	width: 45%;
	line-height: 1.5;
}

.single-col li {
	width: 90%;
	line-height: 1.5;
}

.item-meats li {
	font-size: 0.8em;
	margin: 1px;
}

@media screen and (min-width: 640px) {
	.container {
		width: 90%;
	}

	header {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.main-nav {
		display: flex;
	}
  }

  @media screen and (min-width: 769px) {

	  #menu {
		  display: flex;
		  flex-wrap: wrap;
	  }

	  #menu h2 {
		  width: 100%;
	  }

	  .menu-item {
		  border: none;
		  width: 46%;
		  margin: 1em auto;
	  }
  }

  @media screen and (min-width: 960px) {
	  .container {
		  width: 80%;
	  }

	  header {
		  flex-direction: row;
		  justify-content: space-between;
		  align-items: baseline;
		  margin-top: 20px;
	  }

	  main {
	  	display: flex;
	  	flex-wrap: wrap;
	  }

	  .col {
	  	flex-basis: 45%;
	  	flex-grow: 1;
		margin: 0 2.5%;
	  }

	  #menu {
	  	width: 100%;
	  }
  }

  @media screen and (min-width: 1200px) {
	  .menu-item {
		  width: 30%;
	  }
  }
