* {
	box-sizing: border-box;
}

body {
	font-size: 16px;
	/*font-family: 'Montserrat', Helvetica, sans-serif;*/
	font-family: 'Montserrat', Helvetica, sans-serif;
	color: #444;
}

h2 {
	color: #7f2020;
	text-align: center;
	padding: 0;
	font-weight: normal;
	font-family: 'Damion';
	font-size: 2em;
}

p {
	line-height: 1.5;
}

ul {
	padding: 0;
}

.container {
	margin: 0 2.5%;
}

a {
	text-decoration: none;
	/*color: 	#0e2f44;*/
	color: #FF4040;
}

img {
	max-width: 100%;
}

.small-icon {
	width: 16px;
	margin-right: 16px;
}

/*====================================
NAVIGATION
====================================*/

header {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.logo {
	width: 2em;

}

.name {
	font-family: 'Damion';
	color:  #7f2020;
	text-align: center;
	font-size: 3em;
	letter-spacing: 3px;
	padding: 1px 0;
	margin: 0;
}

.name a {
	color: #7f2020;
}

.name::first-letter {
	font-size: 1.5em;
}

.main-nav {
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 0;
	list-style: none;

}

.main-nav li {
	padding: 10px;
	text-align: center;
	font-size: 1.25em;
}

/*====================================
FOOTER
====================================*/

footer {
	background: #aaa;
	color: #fff;
	padding: 20px 0;
}

.social {
	display: flex;
	justify-content: center;
}

.social img {
	width: 48px;
	margin: 0 10px;
}

.copyright {
	font-size: 0.8em;
	text-align: center;
}

/*====================================
MENU
====================================*/

#menu {
  display: flex;
  flex-direction: column;
}

.menu-item {
  border-bottom: 1px solid #444;
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item-title {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: normal;
  font-size: 1em;
  width: 75%;
  text-align: left;
}

.item-price {
  font-weight: bold;
  width: 25%;
  text-align: right;
}

.item-description {
  width: 100%;
  flex-grow: 1;
  line-height: 1.5em;;
}

.item-meats {
  width: 100%;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  /*height: 20vh;*/
  text-align: center;
}

.double-col li {
	width: 45%;
	line-height: 1.5;
}

.single-col li {
	width: 90%;
	line-height: 1.5;
}

.item-meats li {
	font-size: 0.8em;
	/*background: skyblue;*/
	margin: 1px;
}

@media screen and (min-width: 480px) {
  .item-meats li {
    flex-basis: 10%;
  }
}

@media screen and (min-width: 769px) {
  #menu {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .menu-item {
    width: 42%;
    border-bottom: none;
  }
}
